/* Elements */
li {
  padding: 10px 0;
  display: block;
}

hr {
  color: white;
}

/* ----- Header Styling ----- */
header {
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
}

header h1 {
  color: black;
  text-align: center;
  margin: 0%;
  padding-top: 20px;
}

section {
  color: black;
  text-emphasis: unset;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}





button {
  font-size: 25px;
  margin-right: 30px;
  color: white;
  background: black;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  float: right;
}

/* ----- Classes ----- */
.navBar {
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
}

.links {
height: 0;
overflow: hidden;
list-style-type: none;
font-weight: bold;
}

.show-nav {
  height: 120px;
}

/* ===== Header Classes ----- */
.contact a:link {
  color: firebrick;
  font-weight: bolder;
}

.conatct a:visited {
  color: black;
  font-weight: bolder;
} 

.portfolio a:link {
  color: firebrick;
  font-weight: bolder;
}

.portfolio a:visited {
  color: black;
  font-weight: bolder;
}

/* ----- Media screen size ----- */

@media screen and (min-width: 768px) {
  button {
      display: none;
  }

  .links {
      height: auto;
      display: flex;
  }

  li {
      padding: 0 15px;
      display: inline;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }


  .portfolio a {
    margin-top: 50px;
  }

  .portfolio {
    display: flex;
    justify-content: center;
  }

  .portfolio h2 {
    display: flex;
    justify-content: center;
  }

  .image-enhanced-2 {
    display: flex;
    justify-content: left;
    width: 25%;
    height: auto;
  }

  .contact a:link {
    color: firebrick;
    font-weight: bolder;
  }

  .contact a:visited {
    color: black;
    font-weight: bolder;
  }

  .portfolio a:link {
    color: darkred;
    font-weight: bolder;
  }

  .portfolio a:visited {
    color: black;
    font-weight: bolder;
  }

  .portfolio h4 {
    text-decoration: underline;
    text-decoration-color: white;
  }

  .bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./components/images/header-background-colorful-rocks.png');
  }

  hr {
    color: white;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

}

main {
  padding: 20px 0;
}

img {
  max-width: 25%;
  height: auto;
  margin-left: 15px;
  border-radius: 8px;
  float: left;
  margin-right: 30px;
}

.item {
  flex: 1;
  margin: 10px;
  margin-bottom: 10px;
}

.item-double {
  flex: 2;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./components/images/header-background-colorful-rocks.png');
  opacity: initial;
}

body html {
  height: 100%
}

.image-enhanced-2 {
  display: flex;
  justify-content: center;
  height: auto;
  max-width: 45%;
}

p {
  margin-bottom: 30px;
}

.group {
  display: flex;
  flex-direction: column;
}

.portfolio a {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-right: 165px;
  margin-bottom: 20px;
  color: orange;
}

.portfolio h4 {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
}